<h2>Reactive form</h2>

  <div class="container-fluid">
    <!-- for schema use ,generate a directory -->
    <form [formGroup]="registrationForm" (ngSubmit)="onsubmit()">
      <label>FirstName</label>
      <input type="text" placeholder="FirstName" class="form-control" formControlName="firstname" 
      [ngClass]= "{'is-invalid':submit&&f.firstname.errors}">    
      <div *ngIf='submit&&f.firstname.errors' class="invalid-feedback">
        <div *ngIf="f.firstname.errors?.['required']">First name is required</div>
      </div>

      <label>LaststName</label>
      <input type="text" placeholder="LasttName" class="form-control" formControlName="laststname"
      [ngClass]= "{'is-invalid':submit&&f.lastname.errors}">    
      <div *ngIf='submit&&f.lastname.errors' class="invalid-feedback">
        <div *ngIf="f.lastname.errors?.['required']">Last name is required</div>
      </div>


      <label> Phone</label>
      <input type="number" placeholder="phone number" class="form-control" formControlName="phone"
      [ngClass]= "{'is-invalid':submit&&f.phone.errors}">    
      <div *ngIf='submit&&f.phone.errors' class="invalid-feedback">
        <div *ngIf="f.phone.errors?.['required']">phone number is required</div>
        <div *ngIf="f.phone.errors?.['pattern']">Invalid phone number</div>
      </div>


      <label>email</label>
      <input type="email" placeholder="email" class="form-control" formControlName="email"
      [ngClass]= "{'is-invalid':submit&&f.email.errors}">    
      <div *ngIf='submit&&f.email.errors' class="invalid-feedback">
        <div *ngIf="f.email.errors?.['required']">email is required</div>
        <div *ngIf="f.email.errors?.['email']">Invalid email</div>
      </div>
      <br>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
